html {
    font-size: 10px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.object-fit-cover {
    object-fit: cover;
}

.container .container-header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    width: calc(100% - 10rem);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 0;
}

.container-header .nav li {
    margin: auto 0;
}

.container-header .nav li a {
    font-family: 'SegoeUI Semibold';
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.702);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 0 3rem;
    cursor: pointer;
    transition: color .5s cubic-bezier(.59, .08, .385, 1);
    -webkit-transition: color .5s cubic-bezier(.59, .08, .385, 1);
    -ms-transition: color .5s cubic-bezier(.59, .08, .385, 1);
    letter-spacing: .2rem;
    text-decoration: none;
    background-color: transparent;
    position: relative;
}

.container-header .nav li a:hover {
    color: #ffffff;
    text-decoration: none;
}

.inner-logo-desktop {
    background: transparent url(../img/logo-desktop.png) no-repeat scroll center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 115px;
    height: 89px;
}

.header-background-image {
    background: transparent url(../img/banner_desktop.png) no-repeat scroll center center;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
}

.slogan-text {
    position: absolute;
    top: 36.5rem;
    left: 32rem;
}

.slogan-text h2 {
    font-size: 1.6rem;
    font-family: "SegoeUI Regular";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    letter-spacing: .35rem;
    font-weight: normal;
    margin: 0;
}

.slogan-text h1 {
    font-size: 6rem;
    font-family: "SegoeUI Light";
    color: rgb(255, 255, 255);
    /* text-transform: uppercase; */
    line-height: 1.333;
    text-align: left;
    letter-spacing: .35rem;
    font-weight: normal;
    margin: 0;
}

.slogan-text span {
    font-weight: bold;
}

.container-header .btn-brochure {
    background-color: #cd9577;
    font-size: 1.6rem;
    font-family: 'SegoeUI Semibold';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    width: 21rem;
    height: 6rem;
    text-align: center;
    margin: auto 0;
    text-decoration: none;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-map-utilities {
    font-size: 1.6rem;
    font-family: 'SegoeUI Semibold';
    width: 28rem;
    text-decoration: none;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 6rem;
    background-color: #082340;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 5rem;
}

.btn-brochure::before,
.btn-map-utilities::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    transform: scaleY(0) translateZ(0);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    -o-transition: transform .6s cubic-bezier(.165, .84, .44, 1);
}

.btn-brochure::before {
    background: #be734b;
}

.btn-map-utilities::before {
    background: #3b628b;
}

.btn-brochure:hover::before,
.btn-map-utilities:hover::before {
    transform: scaleY(1) translateZ(0);
}

.btn-brochure img,
.btn-map-utilities img {
    z-index: 1;
}

.btn-brochure span,
.btn-map-utilities span {
    z-index: 1;
    position: relative;
    display: inline-block;
    transform: scale(1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    -webkit-transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    -o-transition: transform 2s cubic-bezier(.165, .84, .44, 1);
    margin-right: 10px;
}


/* .btn-brochure:hover span {
    transform: scale(1.2);
} */

.header-background-image a {
    position: fixed;
}

.header-background-image a.phone {
    width: 6rem;
    height: 6rem;
    left: 5rem;
    top: 50rem;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 80;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: #b4cddc 2px solid;
}

.btn-next-screen {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* border: #cac6bd 3px solid; */
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    border-style: solid;
    border-width: 2px;
    border-color: #b4cddc;
    margin-top: 26.5rem;
    cursor: pointer;
    /* box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3); */
}

.btn-next-screen img {
    position: absolute;
    bottom: 3rem;
}

.header-background-image a.fb-logo {
    width: 6rem;
    height: 6rem;
    text-align: center;
    top: 40rem;
    left: 5rem;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 80;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: #b4cddc 2px solid;
}

.header-background-image a.fb-logo:hover,
.header-background-image a.phone:hover,
.btn-next-screen:hover {
    background-color: #cd9577;
    opacity: 1;
}

.header-background-image .fb-logo img {
    text-align: center;
    transition: all .5s cubic-bezier(.59, .08, .385, 1);
    -webkit-transition: all .5s cubic-bezier(.59, .08, .385, 1);
    -ms-transition: all .5s cubic-bezier(.59, .08, .385, 1);
    content: url(../img/fb-logo.png);
    line-height: 6rem;
}

.header-background-image .phone img {
    transition: all .5s cubic-bezier(.59, .08, .385, 1);
    -webkit-transition: all .5s cubic-bezier(.59, .08, .385, 1);
    -ms-transition: all .5s cubic-bezier(.59, .08, .385, 1);
    content: url(../img/phone-logo.png);
    line-height: 6rem;
}

section.introduction {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding-top: 13.6rem;
    position: relative;
}

.introduction .introduction-left {
    width: 60.55%;
}

.introduction .introduction-right {
    width: 39.45%;
}

.title-section span {
    font-family: 'SegoeUI Semibold';
    font-size: 1.2rem;
    color: rgb(8, 35, 64);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2.5px;
}

.title-section {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.title-section div {
    display: inline-block;
    width: 4rem;
    height: 2px;
    background-color: rgb(8, 35, 64);
    opacity: 0.149;
    margin-left: 20px;
    margin-right: 20px;
}

.introduction-right {
    position: relative;
}

.introduction-left h1 {
    font-size: 4rem;
    font-family: "UTM Americana Bold";
    color: rgb(8, 35, 64);
    line-height: 1.35;
    text-align: left;
}

.introduction-left h1 strong {
    color: #cd9577;
}

.introduction-left p {
    font-size: 1.8rem;
    font-family: "SegoeUI Regular";
    color: rgba(8, 35, 64, 0.702);
    line-height: 1.667;
    text-align: left;
    max-width: 635px;
}

.introduction-left .building-infomation {
    display: flex;
    justify-content: space-between;
    max-width: 622px;
    line-height: 8rem;
    border-bottom: 2px solid #e6e9ec;
}

.introduction-left .building-infomation:last-child {
    border-bottom: none;
}

.introduction-left .building-infomation h4 {
    font-size: 2rem;
    font-family: "SegoeUI Light";
    color: rgb(8, 35, 64);
    margin: auto 0;
}

.introduction-left .building-infomation h5 {
    font-size: 3rem;
    font-family: "SegoeUI Regular";
    color: rgb(205, 149, 119);
    margin: auto 0;
    font-weight: normal;
}

.introduction-right img {
    width: 100%;
    height: calc(100% - 3rem);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 3rem 3rem #f0f0f0;
}

.introduction .vignette-pattern-left {
    position: absolute;
    right: 100%;
    top: 0;
    max-width: 250px;
}

section.utilities {
    width: 100%;
    background-color: #f4f4f7;
}

section.utilities .inner-utilities {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    position: relative;
    background-color: #f4f4f7;
}

.utilities .utilities-left {
    width: 51.56%;
    position: relative;
}

.utilities .utilities-right {
    width: 48.44%;
    position: relative;
}

.utilities .utilities-left img {
    width: 100%;
    height: auto;
}

.utilities .utilities-right {
    padding-left: 11.5rem;
    padding-top: 14rem;
}

.utilities-right h1 {
    font-size: 4rem;
    font-family: "UTM Americana Bold";
    color: rgb(28, 32, 49);
    line-height: 1.35;
    text-align: left;
}

.utilities-right h1 strong {
    color: #cd9577;
}

.utilities-right p {
    font-size: 1.8rem;
    font-family: "SegoeUI Regular";
    color: rgb(101, 105, 123);
    line-height: 1.667;
    text-align: left;
    max-width: 465px;
    margin: 0;
}

section.apartment {
    width: 100%;
    background-color: #ffffff;
}

section .inner-apartment {
    background-color: #ffffff;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding-top: 13rem;
}

.inner-apartment .apartment-left {
    width: 42.42%;
    padding-top: 16.7rem;
}

.inner-apartment .apartment-right {
    width: 57.68%;
}

.apartment-left h1 {
    font-size: 4rem;
    font-family: "UTM Americana Bold";
    color: rgb(205, 149, 119);
    text-align: left;
    line-height: 8rem;
    margin: 0;
    margin-top: 1rem;
}

.apartment-left h1 strong {
    color: #cd9577;
}

.apartment-left .typical-grounds {
    display: flex;
    max-width: 400px;
    line-height: 7.8rem;
    border-bottom: 2px solid #e6e9ec;
}

.typical-grounds h2 {
    font-family: "UTM Americana Bold";
    font-size: 2.4rem;
    color: rgba(41, 64, 89, 0.51);
    text-align: left;
    margin: auto 0;
    transition: all .5s cubic-bezier(.59, .08, .385, 1);
    -webkit-transition: all .5s cubic-bezier(.59, .08, .385, 1);
    -ms-transition: all .5s cubic-bezier(.59, .08, .385, 1);
}

.apartment-left #owl-carousel-1-dots {
    list-style: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 1rem;
}

.apartment-left #owl-carousel-1-dots .owl-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #e6cabb;
    margin-right: 1rem;
    cursor: pointer;
}

.apartment-left #owl-carousel-1-dots .owl-dot.active {
    background-color: #cd9577;
}

.typical-grounds h2.active {
    color: rgb(41, 64, 89);
}

section.project-development {
    width: 100%;
    background-color: #f4f4f7;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.project-development .inner-project-development {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f4f4f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-development-left h1 {
    font-size: 4rem;
    font-family: "UTM Americana Bold";
    color: rgb(8, 35, 64);
    line-height: 1.35;
    text-align: left;
}

.project-development-left h1 strong {
    color: #cd9577;
}

.project-development-right {
    max-width: 640px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.project-development-right .container-owl-carousel-2 {
    max-width: 440px;
    /* max-height: 150px; */
}

.project-development-right img.development-item {
    text-align: center;
    transition: content 1s cubic-bezier(.59, .08, .385, 1);
    -webkit-transition: content 1s cubic-bezier(.59, .08, .385, 1);
    -ms-transition: content 1s cubic-bezier(.59, .08, .385, 1);
    cursor: pointer;
    content: url(../img/btn-arrow.png);
}

.project-development-right .next-development-item {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.project-development-right .prev-development-item:hover {
    content: url(../img/btn-arrow-hover.png);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.project-development-right .next-development-item:hover {
    content: url(../img/btn-arrow-hover.png);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#owl-carousel-2 img {
    width: 15rem;
    height: 15rem;
}

section.news {
    width: 100%;
    background-color: #ffffff;
}

section .inner-news {
    background-color: #ffffff;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 13.5rem;
}

.news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.news-header-left h1 {
    font-size: 4rem;
    font-family: "UTM Americana Bold";
    color: rgb(8, 35, 64);
    line-height: 1.35;
    text-align: left;
    margin-bottom: 0;
}

.news-header-left h1 strong {
    color: #cd9577;
}

.news-header-right .news-header-right-menu {
    list-style: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.news-header-right .news-header-right-menu li:not(:last-child) {
    margin-right: 6rem;
}

.news-header-right .news-header-right-menu li {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'SegoeUI Semibold';
    color: rgb(101, 105, 123);
    text-align: left;
    line-height: 1.2;
}

.news-header-right .news-header-right-menu li.active {
    color: rgb(205, 149, 119);
}

.inner-image-post-container:hover img {
    transform: scale(1.2);
}